# 1C Configurations 
OneC__ProgId="V77.Application"
OneC__ExchangeDir="D:\\1C\\data"
OneC__DbDir="D:\\1C\\1cdb"
OneC__User="admin"

# JWT Configurations 
Jwt__Issuer="YOUR_COMPANY"
Jwt__Audience="YOUR_CLIENT"
Jwt__Key="YOUR_VERY_LONG_SECRET_KEY_THAT_IS_AT_LEAST_32_CHARS_LONG"

# Security Configurations
Security__User="user"
Security__Password="password"